"*":
  "atom-beautify":
    analytics: false
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "linter-csslint"
      "linter-sass-lint"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    themes: [
      "atom-material-ui"
      "zero-dark-matrix-syntax"
    ]
  docblockr:
    extra_tags: [
      "@author Lukas Juhas"
      "@date {{date}}"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "4434ba69-e1e1-c7f6-6dd8-79d328e27ea0"
  fonts:
    fontFamily: "Roboto Mono"
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  linter: {}
  "linter-eslint":
    browser: true
    camelcase: false
    eqeqeq: true
    eqnull: true
    esnext: true
    indent: 2
    jquery: true
    latedef: true
    maxlen: 80
    newcap: true
    node: true
    quotmark: "single"
    strict: true
    undef: true
    unused: true
  "linter-jshint": {}
  "linter-sass-lint":
    configFile: "/Users/LukasJuhas/.sass-lint.yml"
    noConfigDisable: true
  "linter-scss-lint": {}
  minimap: {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    showInfoNotifications: true
  react: {}
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
