"*":
  "atom-beautify":
    css:
      indent_size: 2
    general:
      _analyticsUserId: "045e542b-d197-456f-abf7-7315a477809f"
      analytics: false
    scss:
      indent_size: 2
  "autoclose-html":
    additionalGrammars: [
      "*"
    ]
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "linter-csslint"
      "linter-sass-lint"
    ]
    ignoredNames: [
      ".hg"
      ".DS_Store"
      "Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "spacegray-dark-ui"
      "oceanic-next"
    ]
  docblockr: {}
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "4434ba69-e1e1-c7f6-6dd8-79d328e27ea0"
  fonts:
    fontFamily: "Roboto Mono"
  "imdone-atom":
    openIn: {}
    todaysJournal: {}
  linter: {}
  "linter-eslint":
    browser: true
    camelcase: false
    eqeqeq: true
    eqnull: true
    esnext: true
    indent: 2
    jquery: true
    latedef: true
    maxlen: 80
    newcap: true
    node: true
    quotmark: "single"
    strict: true
    undef: true
    unused: true
  "linter-jshint": {}
  "linter-sass-lint":
    configFile: "/Users/LukasJuhas/.sass-lint.yml"
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  minimap: {}
  "php-cs-fixer":
    executablePath: "/usr/local/bin/php-cs-fixer"
    showInfoNotifications: true
  react: {}
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: false
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
