# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# JS
'.source.js':
  'Between Function':
    'prefix': 'between'
    'body': '''
      function between(x, min, max) {
        return x >= min && x <= max;
      }
    '''

# General

'.scss.css':
  'SVG Background Image':
    'prefix': 'svg background'
    'body': '''
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 10px 10px;
      background-image: url(images/lol.png);
      background-image: linear-gradient(transparent, transparent), url(images/lol.svg);
    '''

'.php':
  'ACF Repeater':
    'prefix': 'acfrepeater'
    'body': '''
      <?php if( have_rows('repeater_field_name') ): ?>
          <?php while ( have_rows('repeater_field_name') ) : the_row(); ?>
              <?php the_sub_field('sub_field_name'); ?>
          <?php endwhile; ?>
      <?php endif; ?>
    '''

# Barebones

'Barebones Column':
  'prefix': 'brbnscol'
  'body': '''
    <div class="col col--xs-12 col--sm-12 col--md-6 col--lg-6">
    </div>
  '''

'Barebones Column Offset':
  'prefix': 'brbnsoffsetcol'
  'body': '''
    <div class="col col--xs-12 col--sm-12 col--md-6 col--lg-6 col--xs-offset-0 col--sm-offset-0 col--md-offset-3 col--lg-offset-3">
    </div>
  '''

# Wordpress

'.text.php':
  'Link Manager':
    'prefix': 'linkmanager'
    'body': '''
      add_filter( 'pre_option_link_manager_enabled', '__return_true' );
    '''
